{{!< default}}

{{#contentFor 'pageStyles'}}
    #main-name {
	    margin-bottom: 0em;
    }
    #work-list h4 {
        margin-bottom: 0.25em;
    }
{{/contentFor}}

<br/>
<br/>
<div class="row">
	<div class="small-10 small-offset-2 columns">
		<h1>Welcome to CC OpenHome</h1>
	</div>
</div>
<div class="row">
	<div class="small-8 small-offset-4 columns">
		<h3 class="subheader">Sign in to continue</h3>
	</div>
</div>